.list-group
  - @location.menu_items.each do |item|
    %li.list-group-item
      = link_to item.beer, item.beer
      .pull-right
        = link_to "delete", item, :method => :delete, :class => "btn btn-xs btn-danger"
