.list-group
  - @locations.each do |location|
    %li.list-group-item
      = link_to location, location
      .pull-right
        = link_to "delete", location, :method => :delete, :class => "btn btn-xs btn-danger"

